<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Авто</title>
    <meta name="theme-color" content="#c9e0e04d">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="stylesheet" href="../styles/main.css">
</head>

<body class="auto-page">
    @@include("../../blocks/modules/header/header.html")
    <div class="top-wrap">
        <ul class="breadcrumbs">
            <li><a href="#">Главная</a></li>
            <li><a href="#">Автомобили</a></li>
            <li><a href="#">XC40</a></li>
        </ul>
        <div class="fixed-block">
            <a href="javascript: void(0);" class="btn-test-drive">
                <i></i>
                <span>Запись на<br> тест-драйв </span>
            </a>
            <a href="javascript: void(0);" class="btn-callback">
                <i></i>
                <span>Заказть<br> звонок</span>
            </a>
        </div>
        <div class="slider-top">
            <div class="slider-top__item" style="background-image: url(../img/sl-img-vn.jpg);">
                <div class="slider-top__item--im-mob" style="background-image: url(../img/sl-img-vn.jpg);"></div>
                <div class="slider-top__content-wrap">
                    <div class="slider-top__content">
                        <div class="slider-top-name">volvo xc40</div>
                        <div class="slider-top-title">Спецпредложения действительное сегодня Volvo XC40</div>
                        <div class="slider-top-desc">Спецпредложения действительное сегодня Volvo XC40</div>
                        <a href="#" class="btn-def"><span>Персональное предложение</span></a>
                    </div>
                </div>
            </div>
            <div class="slider-top__item" style="background-image: url(../img/sl-img-vn.jpg);">
                <div class="slider-top__item--im-mob" style="background-image: url(../img/sl-img-vn.jpg);"></div>
                <div class="slider-top__content-wrap">
                    <div class="slider-top__content">
                        <div class="slider-top-name">volvo xc40</div>
                        <div class="slider-top-title">Спецпредложения действительное сегодня Volvo XC40</div>
                        <div class="slider-top-desc">Спецпредложения действительное сегодня Volvo XC40</div>
                        <a href="#" class="btn-def"><span>Персональное предложение</span></a>
                    </div>
                </div>
            </div>
            <div class="slider-top__item" style="background-image: url(../img/sl-img-vn.jpg);">
                <div class="slider-top__item--im-mob" style="background-image: url(../img/sl-img-vn.jpg);"></div>
                <div class="slider-top__content-wrap">
                    <div class="slider-top__content">
                        <div class="slider-top-name">volvo xc40</div>
                        <div class="slider-top-title">Спецпредложения действительное сегодня Volvo XC40</div>
                        <div class="slider-top-desc">Спецпредложения действительное сегодня Volvo XC40</div>
                        <a href="#" class="btn-def"><span>Персональное предложение</span></a>
                    </div>
                </div>
            </div>
            <div class="slider-top__item" style="background-image: url(../img/sl-img-vn.jpg);">
                <div class="slider-top__item--im-mob" style="background-image: url(../img/sl-img-vn.jpg);"></div>
                <div class="slider-top__content-wrap">
                    <div class="slider-top__content">
                        <div class="slider-top-name">volvo xc40</div>
                        <div class="slider-top-title">Спецпредложения действительное сегодня Volvo XC40</div>
                        <div class="slider-top-desc">Спецпредложения действительное сегодня Volvo XC40</div>
                        <a href="#" class="btn-def"><span>Персональное предложение</span></a>
                    </div>
                </div>
            </div>
            <div class="slider-top__item" style="background-image: url(../img/sl-img-vn.jpg);">
                <div class="slider-top__item--im-mob" style="background-image: url(../img/sl-img-vn.jpg);"></div>
                <div class="slider-top__content-wrap">
                    <div class="slider-top__content">
                        <div class="slider-top-name">volvo xc40</div>
                        <div class="slider-top-title">Спецпредложения действительное сегодня Volvo XC40</div>
                        <div class="slider-top-desc">Спецпредложения действительное сегодня Volvo XC40</div>
                        <a href="#" class="btn-def"><span>Персональное предложение</span></a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="auto-credit">
        <div class="container">
            <div class="auto-credit-box">
                <div class="auto-credit-box__left" style="background-image: url(../img/credit-auto.jpg);"></div>
                <div class="auto-credit-box__right">
                    <div class="auto-credit-name-car">VOLVO XC 60</div>
                    <div class="auto-credit-title">Программа кредитования<br> Volvo XC40 со ставкой 2,9%</div>
                    <div class="auto-credit-desc">Volvo первым из автопроизводителей внедряет новый тип станций техобслуживания, которые делают жизнь наших клиентов проще и удобнее.</div>

                    <!-- Табличка спец. условий для десктопа (НАЧАЛО) удаляется из DOM на 575px -->
                    <div class="auto-credit-table">
                        <div class="auto-credit-table-line auto-credit-table-line-th">
                            <div class="auto-credit-table-item">Специальные цены</div>
                            <div class="auto-credit-table-item">Trade in</div>
                            <div class="auto-credit-table-item">Кредитование</div>
                        </div>
                        <div class="auto-credit-table-line">
                            <div class="auto-credit-table-item">от 1 800 000 ₽ </div>
                            <div class="auto-credit-table-item">до 500 000 ₽</div>
                            <div class="auto-credit-table-item">6%</div>
                        </div>
                    </div>
                    <!-- Табличка спец. условий для десктопа (КОНЕЦ) -->



                    <!-- Табличка спец. условий для мобилки (НАЧАЛО) показывается на 575px -->
                    <div class="auto-credit-table-mobile">
                        <div class="auto-credit-table-mobile__item">
                            <div class="auto-credit-table-mobile_name">Специальные цены</div>
                            <div class="auto-credit-table-mobile_value">от 1 800 000 ₽ </div>
                        </div>
                        <div class="auto-credit-table-mobile__item">
                            <div class="auto-credit-table-mobile_name">Trade in</div>
                            <div class="auto-credit-table-mobile_value">до 500 000 ₽</div>
                        </div>
                        <div class="auto-credit-table-mobile__item">
                            <div class="auto-credit-table-mobile_name">Кредитование</div>
                            <div class="auto-credit-table-mobile_value">6%</div>
                        </div>
                    </div>
                    <!-- Табличка спец. условий для мобилки (КОНЕЦ) -->


                    <a href="#" class="btn-blue"><span>Подробнее</span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="auto-description">
        <div class="container">
            <div class="auto-description-box">
                <div class="auto-description__slider">
                    <div class="auto-description__slider-item" style="background-image: url(../img/auto-veiw1.jpg);"></div>
                    <div class="auto-description__slider-item" style="background-image: url(../img/auto-veiw1.jpg);"></div>
                    <div class="auto-description__slider-item" style="background-image: url(../img/auto-veiw1.jpg);"></div>
                </div>
                <div class="auto-description__text">
                    <div class="auto-description-title">Экстерьер</div>
                    <p>Volvo XC40 - автомобиль, который обладает всем необходимым для комфортного вождения. Он прекрасно вписывается в городскую среду благодаря компактным размерам и современному внешнему виду. Автомобиль оснащен комплексом систем безопасности,
                        которые помогают снизить стресс от движения в городском потоке, комфортно выехать из двора и легко припарковаться. Продуманная организация пространства, наличие больших и удобных ниш для хранения в салоне позволят расположить в
                        XC40 всё необходимое.</p>
                    <a href="#">Подробнее</a>
                </div>
            </div>

            <div class="auto-description-box auto-description-box-invert">
                <div class="auto-description__text">
                    <div class="auto-description-title">Интерьер</div>
                    <p>Volvo XC40 - автомобиль, который обладает всем необходимым для комфортного вождения. Он прекрасно вписывается в городскую среду благодаря компактным размерам и современному внешнему виду. Автомобиль оснащен комплексом систем безопасности,
                        которые помогают снизить стресс от движения в городском потоке, комфортно выехать из двора и легко припарковаться. Продуманная организация пространства, наличие больших и удобных ниш для хранения в салоне позволят расположить в
                        XC40 всё необходимое.</p>
                    <a href="#">Подробнее</a>
                </div>
                <div class="auto-description__slider">
                    <div class="auto-description__slider-item" style="background-image: url(../img/auto-veiw2.jpg);"></div>
                    <div class="auto-description__slider-item" style="background-image: url(../img/auto-veiw2.jpg);"></div>
                    <div class="auto-description__slider-item" style="background-image: url(../img/auto-veiw2.jpg);"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="exelent-auto-box">
        <div class="container">
            <div class="title">Создан для вас, как и любой Volvo</div>
            <div class="exelent-auto-items">
                <div class="exelent-auto-item">
                    <div class="exelent-auto-item__img" style="background-image: url(../img/ex1.jpg);"></div>
                    <div class="exelent-auto-item__title">Всему своё место</div>
                    <div class="exelent-auto-item__desc">В салоне Volvo XC40 вы найдёте инновационные решения для хранения упрощающие повседневную жизнь </div>
                    <a href="#" class="btn-blue"><span>Отправить</span></a>
                </div>

                <div class="exelent-auto-item">
                    <div class="exelent-auto-item__img" style="background-image: url(../img/ex2.jpg);"></div>
                    <div class="exelent-auto-item__title">Всему своё место</div>
                    <div class="exelent-auto-item__desc">В салоне Volvo XC40 вы найдёте инновационные решения для хранения упрощающие повседневную жизнь </div>
                    <a href="#" class="btn-blue"><span>Отправить</span></a>
                </div>

                <div class="exelent-auto-item">
                    <div class="exelent-auto-item__img" style="background-image: url(../img/ex3.jpg);"></div>
                    <div class="exelent-auto-item__title">Всему своё место</div>
                    <div class="exelent-auto-item__desc">В салоне Volvo XC40 вы найдёте инновационные решения для хранения упрощающие повседневную жизнь </div>
                    <a href="#" class="btn-blue"><span>Отправить</span></a>
                </div>
            </div>
        </div>
    </div>



    @@include("../../blocks/modules/equipments/equipments.html") @@include("../../blocks/modules/footer/footer.html")
    <script src="../js/main.js"></script>
    <script src="../js/vendor.js"></script>
</body>

</html>