<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Volvo-Vrn</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="stylesheet" href="styles/main.css">
</head>

<body class="main-page">
    @@include("../blocks/modules/header/header.html")

    <div class="top-wrap">
        <div class="fixed-block">
            <a href="javascript: void(0);" class="btn-test-drive">
                <i></i>
                <span>Запись на<br> тест-драйв </span>
            </a>
            <a href="javascript: void(0);" class="btn-callback">
                <i></i>
                <span>Заказть<br> звонок</span>
            </a>
        </div>
        <div class="slider-top">
            <div class="slider-top__item" style="background-image: url(img/sl-img.jpg);">
                <div class="slider-top__content-wrap">
                    <div class="slider-top__content">
                        <div class="slider-top-name">volvo xc40</div>
                        <div class="slider-top-title">Спецпредложения действительное сегодня Volvo XC40</div>
                        <div class="slider-top-desc">Спецпредложения действительное сегодня Volvo XC40</div>
                        <a href="javascript: void(0);" class="btn-def btn-popup"><span>Персональное предложение</span></a>
                    </div>
                </div>
            </div>
            <div class="slider-top__item" style="background-image: url(img/sl-img.jpg);">
                <div class="slider-top__content-wrap">
                    <div class="slider-top__content">
                        <div class="slider-top-name">volvo xc40</div>
                        <div class="slider-top-title">Спецпредложения действительное сегодня Volvo XC40</div>
                        <div class="slider-top-desc">Спецпредложения действительное сегодня Volvo XC40</div>
                        <a href="javascript: void(0);" class="btn-def btn-popup"><span>Персональное предложение</span></a>
                    </div>
                </div>
            </div>
            <div class="slider-top__item" style="background-image: url(img/sl-img.jpg);">
                <div class="slider-top__content-wrap">
                    <div class="slider-top__content">
                        <div class="slider-top-name">volvo xc40</div>
                        <div class="slider-top-title">Спецпредложения действительное сегодня Volvo XC40</div>
                        <div class="slider-top-desc">Спецпредложения действительное сегодня Volvo XC40</div>
                        <a href="javascript: void(0);" class="btn-def btn-popup"><span>Персональное предложение</span></a>
                    </div>
                </div>
            </div>
            <div class="slider-top__item" style="background-image: url(img/sl-img.jpg);">
                <div class="slider-top__content-wrap">
                    <div class="slider-top__content">
                        <div class="slider-top-name">volvo xc40</div>
                        <div class="slider-top-title">Спецпредложения действительное сегодня Volvo XC40</div>
                        <div class="slider-top-desc">Спецпредложения действительное сегодня Volvo XC40</div>
                        <a href="javascript: void(0);" class="btn-def btn-popup"><span>Персональное предложение</span></a>
                    </div>
                </div>
            </div>
            <div class="slider-top__item" style="background-image: url(img/sl-img.jpg);">
                <div class="slider-top__content-wrap">
                    <div class="slider-top__content">
                        <div class="slider-top-name">volvo xc40</div>
                        <div class="slider-top-title">Спецпредложения действительное сегодня Volvo XC40</div>
                        <div class="slider-top-desc">Спецпредложения действительное сегодня Volvo XC40</div>
                        <a href="javascript: void(0);" class="btn-def btn-popup"><span>Персональное предложение</span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="top-slide-mobile">
            <div class="top-slide-mobile__img" style="background-image: url(img/sl-img.jpg)"></div>
            <div class="top-slide-mobile__content">
                <div class="slider-top-name">volvo xc40</div>
                <div class="slider-top-title">Спецпредложения действительное сегодня Volvo XC40</div>
                <div class="slider-top-desc">Спецпредложения действительное сегодня Volvo XC40</div>
                <a href="javascript: void(0);" class="btn-def btn-popup"><span>Персональное предложение</span></a>
            </div>

        </div>

    </div>


    <div class="models">
        <div class="container">
            <div class="title">Модельный ряд</div>
            <div class="models-box">
                <a href="#" class="models__item">
                    <div class="models__item-name">S60</div>
                    <div class="models__item-sub-name"></div>
                </a>
                <a href="#" class="models__item">
                    <div class="models__item-name">S90</div>
                    <div class="models__item-sub-name"></div>
                </a>
                <a href="#" class="models__item">
                    <div class="models__item-name">V60</div>
                    <div class="models__item-sub-name">cross<br> Country</div>
                </a>
                <a href="#" class="models__item">
                    <div class="models__item-name">v90</div>
                    <div class="models__item-sub-name">cross<br> Country</div>
                </a>
                <a href="#" class="models__item">
                    <div class="models__item-name">v40</div>
                    <div class="models__item-sub-name">cross<br> Country</div>
                </a>
                <a href="#" class="models__item">
                    <div class="models__item-name">XC90</div>
                    <div class="models__item-sub-name"></div>
                </a>
                <a href="#" class="models__item">
                    <div class="models__item-name">XC60</div>
                    <div class="models__item-sub-name"></div>
                </a>
                <a href="#" class="models__item">
                    <div class="models__item-name">XC40</div>
                    <div class="models__item-sub-name"></div>
                </a>
            </div>
        </div>
    </div>

    <div class="news">
        <div class="container">
            <div class="slider-news">
                <div class="slider-news__item slider-news__item-text">
                    <div class="slider-news-title-left">Официальный дилер<br> Volvo в Воронеже</div>
                    <p>Volvo Car представляет комфортабельные, безопасные и надежные автомобили. В нашем автосалоне предлагается вся линейка Volvo: кроссоверы, седаны, а так-же легендарные универсалы Cross Country.</p>
                    <p>Официальный дилер Volvo в Воронеже предлагает безупречный сервис только с сертифицированным персоналом, а также выгодные условия на покупку автомобилей. Каждому клиенту доступны акции, специальные условия и персональные предложения.</p>
                </div>

                <div class="slider-news__item slider-news-col-first">
                    <div class="slider-news-small-item" style="background-image: url(img/news1.jpg);">
                        <div class="slider-news-date">24.10.2019</div>
                        <div class="slider-news-title">Volvo XC90 стал победителем премии “Внедорожник года 2019”</div>
                    </div>
                    <div class="slider-news-small-item slider-news-small-item-b" style="background-image: url(img/news3.jpg);">
                        <div class="slider-news-date">24.10.2019</div>
                        <div class="slider-news-title">Volvo XC90 стал победителем премии “Внедорожник года 2019”</div>
                        <div class="slider-news-desc">“Внедорожник года” - экспертная премия, учрежденная журналом “клуб 4х4” в 2005 году. Каждый год выбирать лучшие автомобили приглашаются два жюри: одно из них состоит из автомобильных экспертов.</div>
                    </div>
                </div>

                <div class="slider-news__item slider-news-col-second">
                    <div class="slider-news-small-item slider-news-small-item-b" style="background-image: url(img/news2.jpg);">
                        <div class="slider-news-date">24.10.2019</div>
                        <div class="slider-news-title">Volvo XC90 стал победителем премии “Внедорожник года 2019”</div>
                        <div class="slider-news-desc">“Внедорожник года” - экспертная премия, учрежденная журналом “клуб 4х4” в 2005 году. Каждый год выбирать лучшие автомобили</div>
                    </div>
                    <div class="slider-news-small-item" style="background-image: url(img/news4.jpg);">
                        <div class="slider-news-date">24.10.2019</div>
                        <div class="slider-news-title">Volvo XC90 стал победителем премии “Внедорожник года 2019”</div>
                    </div>
                </div>

                <div class="slider-news__item slider-news-col-first">
                    <div class="slider-news-small-item" style="background-image: url(img/news1.jpg);">
                        <div class="slider-news-date">24.10.2019</div>
                        <div class="slider-news-title">Volvo XC90 стал победителем премии “Внедорожник года 2019”</div>
                    </div>
                    <div class="slider-news-small-item slider-news-small-item-b" style="background-image: url(img/news3.jpg);">
                        <div class="slider-news-date">24.10.2019</div>
                        <div class="slider-news-title">Volvo XC90 стал победителем премии “Внедорожник года 2019”</div>
                        <div class="slider-news-desc">“Внедорожник года” - экспертная премия, учрежденная журналом “клуб 4х4” в 2005 году. Каждый год выбирать лучшие автомобили приглашаются два жюри: одно из них состоит из автомобильных экспертов.</div>
                    </div>
                </div>

                <div class="slider-news__item slider-news-col-second">
                    <div class="slider-news-small-item slider-news-small-item-b" style="background-image: url(img/news2.jpg);">
                        <div class="slider-news-date">24.10.2019</div>
                        <div class="slider-news-title">Volvo XC90 стал победителем премии “Внедорожник года 2019”</div>
                        <div class="slider-news-desc">“Внедорожник года” - экспертная премия, учрежденная журналом “клуб 4х4” в 2005 году. Каждый год выбирать лучшие автомобили</div>
                    </div>
                    <div class="slider-news-small-item" style="background-image: url(img/news4.jpg);">
                        <div class="slider-news-date">24.10.2019</div>
                        <div class="slider-news-title">Volvo XC90 стал победителем премии “Внедорожник года 2019”</div>
                    </div>
                </div>

                <div class="slider-news__item slider-news-col-first">
                    <div class="slider-news-small-item" style="background-image: url(img/news1.jpg);">
                        <div class="slider-news-date">24.10.2019</div>
                        <div class="slider-news-title">Volvo XC90 стал победителем премии “Внедорожник года 2019”</div>
                    </div>
                    <div class="slider-news-small-item slider-news-small-item-b" style="background-image: url(img/news3.jpg);">
                        <div class="slider-news-date">24.10.2019</div>
                        <div class="slider-news-title">Volvo XC90 стал победителем премии “Внедорожник года 2019”</div>
                        <div class="slider-news-desc">“Внедорожник года” - экспертная премия, учрежденная журналом “клуб 4х4” в 2005 году. Каждый год выбирать лучшие автомобили приглашаются два жюри: одно из них состоит из автомобильных экспертов.</div>
                    </div>
                </div>

                <div class="slider-news__item slider-news-col-second">
                    <div class="slider-news-small-item slider-news-small-item-b" style="background-image: url(img/news2.jpg);">
                        <div class="slider-news-date">24.10.2019</div>
                        <div class="slider-news-title">Volvo XC90 стал победителем премии “Внедорожник года 2019”</div>
                        <div class="slider-news-desc">“Внедорожник года” - экспертная премия, учрежденная журналом “клуб 4х4” в 2005 году. Каждый год выбирать лучшие автомобили</div>
                    </div>
                    <div class="slider-news-small-item" style="background-image: url(img/news4.jpg);">
                        <div class="slider-news-date">24.10.2019</div>
                        <div class="slider-news-title">Volvo XC90 стал победителем премии “Внедорожник года 2019”</div>
                    </div>
                </div>
            </div>
            <div class="slider-news__item-text--mobile">
                <div class="slider-news-title-left">Официальный дилер<br> Volvo в Воронеже</div>
                <p>Volvo Car представляет комфортабельные, безопасные и надежные автомобили. В нашем автосалоне предлагается вся линейка Volvo: кроссоверы, седаны, а так-же легендарные универсалы Cross Country.</p>
                <p>Официальный дилер Volvo в Воронеже предлагает безупречный сервис только с сертифицированным персоналом, а также выгодные условия на покупку автомобилей. Каждому клиенту доступны акции, специальные условия и персональные предложения.</p>
            </div>
            <div class="news-mobile">
                <div class="slider-news-item" style="background-image: url(img/news1.jpg);">
                    <div class="slider-news-date">24.10.19</div>
                    <div class="slider-news-title">Vovlo XC90 стал победителем премии “Внедорожник года 2019”</div>
                </div>
                <div class="slider-news-item" style="background-image: url(img/news3.jpg);">
                    <div class="slider-news-date">24.10.19</div>
                    <div class="slider-news-title">Vovlo XC90 стал победителем премии “Внедорожник года 2019”</div>
                </div>
                <div class="slider-news-item" style="background-image: url(img/news3.jpg);">
                    <div class="slider-news-date">24.10.19</div>
                    <div class="slider-news-title">Volvo XC90 стал победителем премии “Внедорожник года 2019”</div>
                </div>
            </div>
        </div>
    </div>

    <div class="auto-in-stock">
        <div class="container">
            <div class="title">Автомобили в наличии</div>
            <div class="auto-in-stock__slider">

                <div class="auto-card__item auto-in-stock__item">
                    <div class="auto-card__item--name">
                        <div class="models__item">
                            <div class="models__item-name">V60</div>
                            <div class="models__item-sub-name">cross<br> Country</div>
                        </div>
                        <div class="models__item-price">от<br> 2 820 000 ₽</div>
                    </div>
                    <div class="auto-card__item--img" style="background-image: url(img/auto1.jpg);"></div>
                    <div class="auto-card__item--links">
                        <a href="#">Авто в наличии</a>
                        <a href="#">Конфигуратор</a>
                        <a href="#">Цены</a>
                        <a href="#">Тест-драйв</a>
                        <a href="#">Карточка модели</a>
                        <a href="#">Спецпредложения</a>
                    </div>
                </div>

                <div class="auto-card__item auto-in-stock__item">
                    <div class="auto-card__item--name">
                        <div class="models__item">
                            <div class="models__item-name">V90</div>
                            <div class="models__item-sub-name">cross<br> Country</div>
                        </div>
                        <div class="models__item-price">от<br> 2 820 000 ₽</div>
                    </div>
                    <div class="auto-card__item--img" style="background-image: url(img/auto2.jpg);"></div>
                    <div class="auto-card__item--links">
                        <a href="#">Авто в наличии</a>
                        <a href="#">Конфигуратор</a>
                        <a href="#">Цены</a>
                        <a href="#">Тест-драйв</a>
                        <a href="#">Карточка модели</a>
                        <a href="#">Спецпредложения</a>
                    </div>
                </div>

                <div class="auto-card__item auto-in-stock__item">
                    <div class="auto-card__item--name">
                        <div class="models__item">
                            <div class="models__item-name">XC90</div>
                        </div>
                        <div class="models__item-price">от<br> 2 820 000 ₽</div>
                    </div>
                    <div class="auto-card__item--img" style="background-image: url(img/auto3.jpg);"></div>
                    <div class="auto-card__item--links">
                        <a href="#">Авто в наличии</a>
                        <a href="#">Конфигуратор</a>
                        <a href="#">Цены</a>
                        <a href="#">Тест-драйв</a>
                        <a href="#">Карточка модели</a>
                        <a href="#">Спецпредложения</a>
                    </div>
                </div>

                <div class="auto-card__item auto-in-stock__item">
                    <div class="auto-card__item--name">
                        <div class="models__item">
                            <div class="models__item-name">XC40</div>
                        </div>
                        <div class="models__item-price">от<br> 2 820 000 ₽</div>
                    </div>
                    <div class="auto-card__item--img" style="background-image: url(img/auto4.jpg);"></div>
                    <div class="auto-card__item--links">
                        <a href="#">Авто в наличии</a>
                        <a href="#">Конфигуратор</a>
                        <a href="#">Цены</a>
                        <a href="#">Тест-драйв</a>
                        <a href="#">Карточка модели</a>
                        <a href="#">Спецпредложения</a>
                    </div>
                </div>

                <div class="auto-card__item auto-in-stock__item">
                    <div class="auto-card__item--name">
                        <div class="models__item">
                            <div class="models__item-name">V60</div>
                            <div class="models__item-sub-name">cross<br> Country</div>
                        </div>
                        <div class="models__item-price">от<br> 2 820 000 ₽</div>
                    </div>
                    <div class="auto-card__item--img" style="background-image: url(img/auto1.jpg);"></div>
                    <div class="auto-card__item--links">
                        <a href="#">Авто в наличии</a>
                        <a href="#">Конфигуратор</a>
                        <a href="#">Цены</a>
                        <a href="#">Тест-драйв</a>
                        <a href="#">Карточка модели</a>
                        <a href="#">Спецпредложения</a>
                    </div>
                </div>

                <div class="auto-card__item auto-in-stock__item">
                    <div class="auto-card__item--name">
                        <div class="models__item">
                            <div class="models__item-name">V90</div>
                            <div class="models__item-sub-name">cross<br> Country</div>
                        </div>
                        <div class="models__item-price">от<br> 2 820 000 ₽</div>
                    </div>
                    <div class="auto-card__item--img" style="background-image: url(img/auto2.jpg);"></div>
                    <div class="auto-card__item--links">
                        <a href="#">Авто в наличии</a>
                        <a href="#">Конфигуратор</a>
                        <a href="#">Цены</a>
                        <a href="#">Тест-драйв</a>
                        <a href="#">Карточка модели</a>
                        <a href="#">Спецпредложения</a>
                    </div>
                </div>

                <div class="auto-card__item auto-in-stock__item">
                    <div class="auto-card__item--name">
                        <div class="models__item">
                            <div class="models__item-name">XC90</div>
                        </div>
                        <div class="models__item-price">от<br> 2 820 000 ₽</div>
                    </div>
                    <div class="auto-card__item--img" style="background-image: url(img/auto3.jpg);"></div>
                    <div class="auto-card__item--links">
                        <a href="#">Авто в наличии</a>
                        <a href="#">Конфигуратор</a>
                        <a href="#">Цены</a>
                        <a href="#">Тест-драйв</a>
                        <a href="#">Карточка модели</a>
                        <a href="#">Спецпредложения</a>
                    </div>
                </div>

                <div class="auto-card__item auto-in-stock__item">
                    <div class="auto-card__item--name">
                        <div class="models__item">
                            <div class="models__item-name">XC40</div>
                        </div>
                        <div class="models__item-price">от<br> 2 820 000 ₽</div>
                    </div>
                    <div class="auto-card__item--img" style="background-image: url(img/auto4.jpg);"></div>
                    <div class="auto-card__item--links">
                        <a href="#">Авто в наличии</a>
                        <a href="#">Конфигуратор</a>
                        <a href="#">Цены</a>
                        <a href="#">Тест-драйв</a>
                        <a href="#">Карточка модели</a>
                        <a href="#">Спецпредложения</a>
                    </div>
                </div>

            </div>
        </div>
    </div>


    @@include("../blocks/modules/footer/footer.html")
    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
</body>

</html>